<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.palmiraSurConnectionString"
            connectionString="Data Source=DESKTOP-K3NJ6CR;Initial Catalog=palmiraSur;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>